/* Sets scrolling through the page to be smooth */

html {
    scroll-behavior: smooth;
  }

/* Variables for colors*/

:root {
    --maroon: #e76f51;
    --sandy: #e9c46a;
    --lightblue: #2a9d8f;
    --lightblue2:#1c6960;
    --deepblue: #e76f51;
}

/* Basic Stylings, colors, and fonts for the body */

body {
    background: var(--sandy);
    font-family: sans-serif;
    font-size: 16px;
}
nav {
    background: var(--maroon);
    padding: 10px 15px;
}
a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}
main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
main > * {
    flex-basis: 20ch;
    flex-grow: 1;
    flex-shrink: 1;
}

/* Class Stylings - Desktop Mode */

.menu {
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    list-style-type: none;
}
.name {
    order: 0;
    flex: 1;
    font-size: 30px;
    padding: 7px 0px 7px 60px;
    filter: drop-shadow(2px 2px 2px #000000);
}
.name label {
    background: var(--lightblue);
    padding: 6px 10px;
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.button {
    order: 1;
    position: relative;
    display: block;
    width: auto;
    padding: 15px;
    margin: 0 10px;
    filter: drop-shadow(5px 5px 2px #000000);
    transition: background .5s;
    background: var(--lightblue);
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

/* Assigns properties to the header image to auto-resize and position */

.headerimage {
    text-align:center;
    margin: 20px auto 0 auto;
    padding:0px;
    max-height: 500px;
    max-width: 1500px;
    filter: drop-shadow(2px 2px 2px #000000);
}
.headerimage img{
    display:flex;
    flex: 1 1 auto;
    width: 100%;

}

/* Structure for the main body portions of the website - Allows for
stylized images and paragraphs in the wrappers*/

.wrapper {
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}
.side {
    flex-grow: 1;
    flex-basis: 10rem;
    text-align: right;
    color: var(--maroon);
    border-right: 5px solid var(--maroon);
    min-width: 25px;
    padding:10px;
    margin: 5px;
    font-size: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.content {
    flex-grow: 99;
    flex-basis: 0;
    min-width: 60%;
    background: var(--maroon);
    margin: 5px 30px;
    filter: drop-shadow(2px 2px 2px #000000);
    text-align: center;

}
.content > * {
    padding: 10px;
    color: white;
}
.content img {
    width:40%;
    padding: 20px;
    transition: filter 0.3s ease-in-out;
}
#topbox {
    overflow: hidden;
    transition: filter 0.3s ease-in-out;
}
#topimage {
    width:100%;
}
#topLabel {
    position:absolute;
    display: block;
    margin: -7% 0 0 15%;
    background: var(--lightblue);
    padding: 2px 5px;
    
}
.imgLabel {
    position:absolute;
    display: block;
    margin: -10% 0 0 15%;
    background: var(--lightblue);
    padding: 2px 5px;
    
}
.imgLabelHidden {
    position:absolute;
    display: none;
    margin: -10% 0 0 15%;
    background: var(--lightblue);
    padding: 2px 5px;
    
}
.imgLabelRight {
    position:absolute;
    display: block;
    margin: -10% 0 0 55%;
    background: var(--lightblue);
    padding: 2px 5px;
    
}
p {
    text-align: justify;
}
/* Make the subtitle position absolute and add a negative
margin to make sure it stays on top of the image */

.subtitle {
    position: absolute;
    margin: -60px 10px 0px 0px;
    left: 75%;
    flex: 1;
    background: var(--lightblue);
    padding: 10px;
    filter: drop-shadow(2px 2px 2px #000000);
    color:white;
}
/* Hover Properties for Buttons */

.button:hover {
    filter: drop-shadow(4px 4px 2px #000000);
    background: var(--lightblue2);
}
.bottomimage:hover {
    filter: drop-shadow(7px 7px 5px #000000);
}
#topbox:hover {
    filter: drop-shadow(7px 7px 5px #000000);
}

/* Mobile Layout */

@media screen and (max-width: 720px) {
    .button {
        display: block;
        width: 100%;
        text-align: center;
    }
    .menu {
        flex-wrap: wrap;
        justify-content: center;
    }
    .menu li{
        margin: 5px 50px;
    }
    .menu li a {
        display: block;
        padding: 5px;
    }
    .name {
        padding: 0px 0px 20px 0px;
        display: block;
        width: 100%;
        text-align: center;
    }
    .wrapper{
        display: block;
        text-align: center;
    }
    .content img {
        width: 90%;
    }
    .side {
        border: none;
        width:75%;
        margin: 10px;
    }
    #topbox{
        width: 95%;
    }
    #topimage {
        width: 300%;
    }
    .imgLabelRight{
        display: none;
    }
    .imgLabelHidden{
        display:block;
    }
    p {
        text-align: justify;
    }
}